# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/
.env
*.db
*.sqlite3

# Flask
instance/
.flaskenv

# Chroma DB storage
app/chroma_storage/

# Node / Angular
node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/.angular/
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Secrets & config
database.yaml

# Archives & Builds
*.zip
*.tar.gz
*.rar

